
.red {
    color: red;
  }
  
.bold{
  font-weight: bold;
}

.button{
  font: inherit;
  padding: 8px;
  cursor: pointer;
  border: 1px solid lightblue;
}

.button-green{
  background-color: green;
  color: white;
 
}

.button-green:hover{
  background-color: lightgreen;
  color: black;
}

.button-red{
  background-color: red;
  color: white;
}

.button-red:hover{
  background-color: salmon;
  color: black;
}

